<div  ng-controller="UbberController" class="col-sm-12">

    <label style="color:white">Localização</label>
    <div class="form-group" >
    	<input places-auto-complete size=80
    ng-model="location"
    component-restrictions="{country:'br'}"
  	class="form-control" 
  	on-place-changed="placeChanged()"
     /> 
   <!-- on-place-changed="placeChanged = true" -->
    </div>  
 
<div  map-lazy-load="https://maps.google.com/maps/api/js">
      <ng-map zoom="14"   style="height:90%" >
        <directions
          draggable="true"
          panel="directions-panel"
          travel-mode="DRIVING"
          origin="Barra da Tijuca, Rio de Janeiro - RJ"
          destination="{{location || 'Recreio dos Bandeirantes, Rio de Janeiro - RJ, Brasil'}}">
        </directions>
      </ng-map>  
      Directions path length:
        {{map.directionsRenderers[0].directions.routes[0].overview_path.length}}
    </div>

    <div  ng-show="false || changeLocation"  id="directions-panel" style="background-color:white; overflow: auto; padding: 0px 5px">
    </div> 
</div> 
 
 