        <video id="Video1" src="app/assets/IMG_6.mp4" controls  width="100%" title="video element"></video>
        <div id="demo"></div>
 <script>

  function init() {        // Master function, encapsulates all functions
            var video = document.getElementById("Video1");
            video.play();
            
            setInterval(function(){ 
                   
                  if( parseInt(video.currentTime) > 20 ){ 
                         
 						location.href = '#/site/ubber-voucher';
                  };
                   
            }, 100);

            if (video.canPlayType) {   // tests that we have HTML5 video support
                // if successful, display buttons and set up events 

                // helper functions
                //  play video
                function vidplay(evt) {
                    if (video.src == "") {  // inital source load
                        getVideo();
                    }
                    button = evt.target; //  get the button  id to swap the text based on the state                                    
                    if (video.paused) {   // play the file, and display pause symbol
                        video.play();
                        button.textContent = "||";
                    } else {              // pause the file, and display play symbol  
                        video.pause();
                        button.textContent = ">";
                    }
                }
                var executar = 0;
                // video.ontimeupdate = function() {myFunction()};

                function myFunction() {
                // Display the current position of the audio in a <p> element with id="demo"
                    document.getElementById("demo").innerHTML = video.currentTime;
                }
 
                //  button helper functions 
                //  skip forward, backward, or restart
                function setTime(tValue) {
                //  if no video is loaded, this throws an exception 
                    try {
                        if (tValue == 0) {
                            video.currentTime = tValue;
                        }
                        else {
                            video.currentTime += tValue;
                        }
                        
                     } catch (err) {
                         // errMessage(err) // show exception
                     errMessage("Video content might not be loaded");
                       }
             }
                //  display an error message 
                function errMessage(msg) {
                // displays an error message for 5 seconds then clears it
                    document.getElementById("errorMsg").textContent = msg;
                    setTimeout("document.getElementById('errorMsg').textContent=''", 5000);
                }
                // change volume based on incoming value 
                function setVol(value) {
                    var vol = video.volume;
                    vol += value;
                    //  test for range 0 - 1 to avoid exceptions
                    if (vol >= 0 && vol <= 1) {
                        // if valid value, use it
                        video.volume = vol;
                    } else {
                        // otherwise substitute a 0 or 1
                        video.volume = (vol < 0) ? 0 : 1;                        
                    }
                } 
            } // end of runtime
        }// end of master     
setTimeout(init,1000);
        </script>


 