<!-- Navigation -->
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header"> 
            <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
             <div class="brand">Aguardando inicio da viagem</div>
             
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav> 