        <div class="container">
        <div class="row">
            <div class="box">
                <div class="col-lg-12 text-center">
                   <div ng-controller="CarouselDemoCtrl"  set-ng-animate="true">
                            <carousel interval="myInterval">
                              <slide ng-repeat="slide in slides" active="slide.active">
                                <img ng-src="{{slide.image}}" class="img-full">
                                <div class="carousel-caption">
                                  <h4>Slide {{$index}}</h4>
                                  <p>{{slide.text}}</p>
                                </div>
                              </slide>
                            </carousel> 
                          </div>
                    <h2 class="brand-before">
                        <small>Welcome to</small>
                    </h2>
                    <h1 class="brand-name">Business Casual</h1>
                    <hr class="tagline-divider">
                    <h2>
                        <small>By
                            <strong>Start Bootstrap</strong>
                        </small>
                    </h2>
                </div>
            </div>
        </div>




 <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Build your Portfolio
                        <strong>Its FREE</strong>
                    </h2>
                    <hr>
                    <img class="img-responsive img-border img-left" src="img/intro-pic.jpg" alt="">
                    <hr class="visible-xs">
                    <p>You can create a portfolio to display your pictures without paying anything for it</p>
                    <h6>
                         The FrontEnd of this system was programmed in angularjs / HTML and CSS, BackEnd was programmed in PHP in RestApi standard with a framework created by me to assess the PHP code. The system contains unit tests in PHPUnit and requests testing with Mocha / Jasmine
                    </h6>
         
                         In this system I am addressing the following features: 
                         <br><br>
                            1 - Users Registration<br>
                            2 - Login Users<br>
                            3 - Change of registration data<br>
                            4 - Upload images<br>
                            5 - images Metadata Handling<br>
                            6 - User portifolio Display<br>
                   

                </div>
            </div>
        </div>
        </div>