<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <h1>Login to gain access to your portfolio</h1> 
    <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
    <!-- NOTE: To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->
        <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
                <label>Email Address</label>
                <input type="email" ng-model="user.email" class="form-control" placeholder="Email Address"  required  >
                <p class="help-block text-danger"></p>
            </div>
        </div>
        <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
                <label>Passcode</label>
                <input type="password" class="form-control" ng-model="user.password" placeholder="Passcode"   required  >
                <p class="help-block text-danger"></p>
            </div>
        </div> 
        <br>
        <div  ></div>
        <div class="row">
            <div class="form-group col-xs-12">
                <button ng-click="login()" class="btn btn-default">Send</button>
            </div>
        </div>
</div>