<!-- Navigation -->
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header"> 
            <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
             <div class="brand">Ubber's Announcement</div>
            <span class="navbar-brand" href="index.html">Waiting start</span>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav> 